@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3498db; /* a nice blue color */
  --secondary-color: #f1c40f; /* a warm orange color */
  --background-start-rgb: 240, 240, 240; /* a light gray background */
  --background-end-rgb: 220, 220, 220; /* a slightly darker gray background */
  --foreground-rgb: 0, 0, 0; /* black text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #9b59b6; /* a deep purple color */
    --secondary-color: #e67e73; /* a rich red color */
    --background-start-rgb: 40, 40, 40; /* a dark gray background */
    --background-end-rgb: 20, 20, 20; /* an even darker gray background */
    --foreground-rgb: 255, 255, 255; /* white text */
  }
}

body {
  font-family: Inter, sans-serif; /* use the Inter font */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  transition: background-color 0.5s ease; /* smooth background transition */
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(var(--background-start-rgb));
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: center;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.img-square {
  background-color: rgb(var(--background-start-rgb));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.img-square:hover {
  background-color: rgb(var(--secondary-color));
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.text-balance {
  text-align: justify;
  hyphens: auto;
}